* {
    --color1: #0d1b2a;
    --color2: #1b263b;
    --color3: #415a77;
    --color4: #778da9;
    --color5: #e0e1dd;

    margin: 0;
    padding: 0;

    text-decoration: none;
    text-align: justify;
    color: var(--color5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-color: var(--color1);
}

nav {
    display: flex;
    width: 100%;
    height: 60px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
    margin-bottom: 20px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    
    transition: 0.3s;
}

nav ul li:hover {
    background-color: var(--color2);
}

nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;
    max-width: 80%;
    width: 100%;

    padding: 20px 20px 60px 20px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.skills {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.image-container .large-image {
    max-width: min(90%, 800px);
    border: 1px solid var(--color5);
    border-radius: 5px;
}

.image-container .medium-image {
    max-width: min(90%, 600px);
    border: 1px solid var(--color5);
    border-radius: 5px;
}

.image-container .small-image {
    max-width: min(90%, 400px);
    border: 1px solid var(--color5);
    border-radius: 5px;
}

a {
    color: var(--color4);
}

a:hover {
    color: var(--color5);
    text-decoration: underline;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    border-radius: 5px;
}

.project-card h2 {
    text-align: center;
}

.project-card a {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    border-radius: 10px;
    border: 1px solid var(--color4);
}

.project-card img {
    width: 100%;
    border-radius: 11px 11px 0 0;
}